{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'polls/styles.css' %}">  
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Premios Platzi App</h1>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <a href="https://platzi.com">Platzi</a>
        <a href="#">Contacto</a>
        <a href="#">¿Quieres enseñar?</a>
        <a href="#">Políticas de privacidad</a>
        <a href="#">Términos y condiciones</a>
    </footer>
</body>
</html>